/* GOOGLE FONT */


.navbar {
    background-color: var(--firstcolor);
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 20;
    /* border: 1px yellow solid; */ /* GUIDE LINE */
}

.headroom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 77px;
    max-width: 1500px;
    /* border: 1px red solid; */ /* GUIDE LINE */
    padding-left: 158px;
    padding-right: 158px;
    background-color: var(--firstcolor);
    z-index: 90;
}

.nav-menu ul {
    display: flex;
    list-style: none;
    text-align: center;
}

.nav-menu ul li {
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    font-family: 'Poppins', sans-serif;
    line-height: normal;
    font-weight: 500;
    font-size: 13px;
}


